@media (min-width:991px) {
.header .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }	
}
@media (max-width:1550px) {
.home-slider-section h1 {font-size: 74px; line-height:74px;}
@media (max-width:1300px) {
.latest-works-section ul.slides li img{max-width:100%;}
.workflow-section .container{overflow-y: hidden;}
ul.liststyle li{font-size:15px; padding-bottom:8px;}
.home-slider-section h1 {  font-size: 70px;    line-height: 70px;}
}

@media (max-width:1199px) {
.workflow-content-main{padding-top:20px;}	
.workflow-content-main .workflow-balls{position:relative; width:25%; display:inline-block; top:0; left:0; right:0;}	
.workflow-content-main .circular-pointer,  .workflow-content-main .big-ball-container{display:none;}
.workflow-content-main .workflow-content:after{display:none;}
.workflow-content-main .workflow-design .workflow-content, .workflow-content-main .workflow-development .workflow-content,  .workflow-content-main .workflow-demo .workflow-content, .workflow-content-main .workflow-meet .workflow-content, .workflow-content-main .workflow-support .workflow-content, .workflow-content-main .workflow-plan .workflow-content, .workflow-content-main .workflow-market .workflow-content {
    left: 0; top: 150px;}
.header .navbar-nav > li > a{padding-left:8px; padding-right:8px;}	
.internet-mktg-content .sphere{position:static;}
.workflow-content-main .workflow-balls:focus img, .workflow-content-main .workflow-balls:hover img{margin-top:0;}
.home-slider-section h1 {
    font-size: 50px;
    line-height: 50px;
}
.main-footer .container {
    padding: 30px 15px;
}
.get-quotes img{width:50%;}
}



@media (max-width:991px) {
.testimonials-left{position:static; margin:0 auto; padding-bottom:20px; width:100%; text-align:center; height:auto; background-image:none;}
.testimonials-right{padding:0;}
.request-form{padding-left:0; padding-top:40px;}
.home-slider-section .banner-caption{top:28%;}
.banner-caption .custom-btn {
    margin-top: 0;
}
.main-footer{overflow-y: hidden; margin:0;}
.main-footer .navbar-nav{margin:0;}
.footer-menu ul.navbar-nav{margin:0; text-align:center;}
.footer-menu .nav > li, .footer-secondary-menu .nav > li{display:inline-block; margin-bottom:10px;}
.software-text, .development-text{ padding-left: 0;}
.development-text{padding-bottom:20px; margin-top:20px;}
ul.liststyle{padding-bottom:20px;}
.software-text .sphere, .development-text .sphere{position:static;}

.service-boxes-section .col-md-6:after{clear:both; content:""; display:block;}
.service-boxes-section .col-md-6, .service-boxes-section .col-md-4 img{width:100%;}
.navbar-toggle {
    display: block;
}

.header  .nav > li {
    display: block; float:none;
    position: relative;
}

.header{position:relative; height:auto;}
.main-container{margin-top:0;}
.header-fixed{position:relative;}
ul.header-right{display:none;}
.header .navbar-default .navbar-brand{position:static;padding-top: 5px; width:200px;}
.header .navbar-toggle{position:absolute;right: 0;top: 10px; background-color:#f90;}
.header .navbar-default .navbar-toggle:hover, .header .navbar-default .navbar-toggle:focus{background-color:#f90;}
.header .navbar-default .navbar-toggle .icon-bar{ background-color: #fff;}
.header .navbar-collapse{width:100%;overflow: visible; margin-top: 20px;}
.header .navbar-default .navbar-nav > li > a {
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    color: #666;
}
.header .navbar-default .navbar-nav > .open > a, .header .navbar-default .navbar-nav > .open > a:hover, .header .navbar-default .navbar-nav > .open > a:focus{color:#666;}
.header .navbar-nav{margin-left:0; margin-right:0; width:100%;}

}



@media (max-width:767px) {

.foot-logo{text-align:center;}
.home-slider-section .banner-caption{position:static; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0; color: #fff; margin:0; padding:40px 0;}
.home-slider-section h1{font-size: 40px;
    line-height: 40px;}
.home-slider-section p{font-size:16px;}	
.workflow-content-main .workflow-balls{width:48%;}
.get-quotes img{width:25%;}
.footer-contact-section{width:100%;}
.social-links ul.share{text-align:center;}

.service-boxes-section .col-md-6, .service-boxes-section .col-md-4 img{width:100%;}
}



@media (max-width:480px) {
.workflow-content-main .workflow-balls{width:100%;}
}